.base-main{
	width: 100%;
	transition: all .3s ease-in-out;
}
.main-content{
	display: -webkit-box;
	display: flex;
	-webkit-box-align:start;
	align-items: flex-start;
	padding: 0 16px;
	width: 1000px;
	margin: 10px auto;
}
.quanquan-dynamic{
	width: 100%;
	background-color: rgba(189,169,164,1);
	box-shadow: 0 1px 3px rgba(18,18,18,.1);
}
.dynamic-top{
	border-bottom: 1px solid pink;
}
.dynamic-taps{
	padding: 0 30px;
	height: 60px;
	display: flex;
	justify-content: center;
}
.dynamic-taps .dynamic-links-a{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	margin: 0 22px;
}
.dynamic-taps .dynamic-links-a:hover,.dynamic-links-a.is-active{  
	opacity: 1;
	color: palevioletred;
}
.card{
	padding: 20px;
	border-bottom: 1px solid pink;
	animation: card-up 2s ease-in-out forwards;
}
@keyframes card-up{
	from{opacity: 0;display: none;}
	to{opacity: 1;display: block;}
}
.card-delete{
	animation: card-delete 1s ease-in-out forwards;
}
@keyframes card-delete{
	from{opacity: 1;}
	to{opacity: 0;}
}
.item-dynamic{
	position: relative;
	overflow: initial;
	display: flex;
	align-items: flex-start;
}
.dynamic-user{
	margin-bottom: 10px;
	position: relative;
	display: flex;
	justify-content: flex-start;
}
.author-pic{
	width: 46px;
	height: 46px;
	margin-right: 10px;
	border-radius: 50%;
}
.author-img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.username{
	font-size: 20px;
}
.username .author-name{
	position: relative;
	color: pink;
}
.username .author-name:hover::before{
	position: absolute;
	display: block;
	content: "";
	height: 1px;
	width: 96%;
	background-color: pink;
	left: 2%;
	margin: 0 auto;
	bottom: 0;
}
.dynamic-message{
	width: 100%;
	margin-left: 20px;
	padding-top: 2px;
	padding-right: 40px;
}
.dynamic-time{
	font-size:12px;
	margin-left: 2px;
}
.time{
	color: mistyrose;
}
.message-image{
	
	margin: 6px 0;
	display: -webkit-box;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.dynamic-content-img{
	display: inline;
	margin-top: 5px;
}
.img-list-item{
	position: relative;
	display: inline-block;
	margin: 0 1px;
	margin-bottom: 3px;
	cursor: pointer;
}
.dynamic-image{
	width: 230px;
	height: 230px;
}
.contentItem{
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: flex-start;
}
.contentItem .button-star{
	padding: 0 10px;
	position: relative;
	text-align: center;
	border: none;
}
.contentItem .button-like{
	animation: like-ani .5s ease-in-out forwards;
}
.contentItem .button--star{
	animation: star-ani .5s ease-in-out forwards;
}
@keyframes star-ani{
	from{color: white;background: #DB7093;}
	to{color:#8590a6;}
}
@keyframes like-ani{
	from{color:#8590a6;}
	to{color: white;background: #DB7093;}
}
.content-comment{
	margin-left: 20px;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.contentItem .iconfont{
	font-size: 16px;
	padding-right: 6px;
}
/* 动态删除按钮 */
.delete-dynamic{
	position: absolute;
	top: 0;
	right: 20px;
	color: #E5E5E5;
	cursor: pointer;
}
.delete{
	z-index: 2;
	width: 100px;
	right: 0;
	position: absolute;
	background-color: #F6F6F6;
	border-radius: 3px;
}
.delete .triangle{
	top: -8px;
	left: 80%;
	border-bottom: 8px solid #F6F6F6;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent
}
.delete div{
	display: flex;
	justify-content: center;
}
.delete-a-dynamic{
	height: 32px;
	line-height: 32px;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #121212;
}