<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>个人中心-QUANQUAN</title>
		<link rel="shortcut icon" type="image/x-icon" href="/QUANQUAN/static/img/favicon.ico" charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_2231634_mwz4havqxn.css" charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/QUANQUAN/static/css/main.top.css" charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/QUANQUAN/static/css/main.content.css"/>
		<link rel="stylesheet" type="text/css" href="/QUANQUAN/static/css/user.css"/>
		<script type="text/javascript" src="/QUANQUAN/static/js-config/jquery-3.4.1.min.js" charset="UTF-8"></script>
		<script type="text/javascript" src="/QUANQUAN/static/js-config/jquery-ui.min.js" charset="UTF-8"></script>
		<script src="/QUANQUAN/static/js-config/jquery.mousewheel.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/QUANQUAN/static/js-config/config.tool.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="base">
			<div>
				<div>
					<header class="baseHeader">
						<div class="baseHeader-nav">
							<a class="QUANQUANLOGE compar ico-header" href="/QUANQUAN/index.html"></a>
							<ul class="hearder-top">
								<li class="tap-items"><a class="links-a" href="/QUANQUAN/index.html">首页</a></li>
								<li class="tap-items"><a class="links-a active" href="/QUANQUAN/view/people/user.homepage.html">个人中心</a></li>
								<li class="tap-items"><a class="links-a" href="javascript:void(0);">私信</a></li>
							</ul>
							<div class="SearchBar header-SearchBar">
								<form class="SearchBar-mean">
									<div>
										<div class="search">
											<label class="SearchBar-input">
												<input type="text" class="input" name="search"/>
												<button type="button" class="Button SearchBar-searchButton">
													<span class="iconfont icon-search"></span>
												</button>
											</label>
										</div>
									</div>
								</form>
								<button class="Button SearchBar-button button--pink">发布动态</button>
							</div>
							<div class="hearder-info">
								<div class="info-button">
									
								</div>
							</div>
						</div>					
					</header>
				</div>
				<main class="base-main" role="main">
					<div class="people">
						<div class="people-header">
							<div class="">
								<div>
									<div class="">
										<img class="" src=""/>
									</div>
									<label class="">
										<input  type="file" name="file" accept="image/gif,image/jpeg,image/x-png"/>
										<div>
											
										</div>
									</label>
								</div>
								<div></div>
								<div>
									<button class="" type="button"></button>
								</div>
							</div>
						</div>
						<div class="people-content">
							
							<div class="people-info">
								
								<div class="user-followds-header">
									<div class="folowds-number">
										<a class="Button button-item-number" type="button" href="javascript:void(0);">
											<div class="number-itemInner">
												<div class="number-itemName">关注</div>
												<strong class="number-itemValue">0</strong>
											</div>
										</a><a class="Button button-item-number" type="button" href="javascript:void(0);">
											<div class="number-itemInner">
												<div class="number-itemName">粉丝</div>
												<strong class="number-itemValue">0</strong>
											</div>
										</a>
									</div>
								</div>
								<div class="people-dynamic">
									<a class="lightItem" href="javascript:void(0);">
										<span class="">动态</span>
										<span class="">1</span>
									</a>
								</div>
								<!-- <div class="user-followds-main">
									<div>
										<div class="followd-list-item">
											<div class="content-item">
												<div class="content-item-main">
													<span class="people-pic">
														<a href="/QUANQUAN/view/people/user.homepage.html">
															<img class="people-img" width="46" height="46" src="../../static/img/background.jpg" >
														</a>
													</span>
													<div class="content-main-head">
														<a href="/QUANQUAN/view/people/user.homepage.html">晓风景</a>
													</div>
												</div>
											</div>
										</div>
										<div class="followd-list-item">
											
										</div><div class="followd-list-item">
											
										</div><div class="followd-list-item">
											
										</div><div class="followd-list-item">
											
										</div>
									</div>
									<div class="followdPages" id="">
										
									</div>
								</div> -->
							</div>
							<div class="user-dynamic">
							
							</div>
						</div>
						
					</div>
				</main>
				<div class="backtop">
					<button class="Button button--pink button-nav" title="返回顶部">
						<span class="iconfont icon-rising"></span>
					</button>
				</div>
			</div>
		</div>
		<div>
			<div class="user-details" id="detailes">
				
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/QUANQUAN/static/js/main.top.js" charset="UTF-8"></script>
	<script src="/QUANQUAN/static/js/main.content.js" type="text/javascript" charset="utf-8"></script>
	<script src="/QUANQUAN/static/js/user.js" type="text/javascript" charset="utf-8"></script>
</html>
